body{
    font-family: sans-serif;
    box-sizing: border-box;
    color: #242424;
    background: #424242 url("../imagenes/body_bg.png");
}

header {
    background-color: #D90D32
}

main{
    height: 650px;
    margin: 5em 20em;
    background: #fff url("../imagenes/container_bg.png");
}

h1, h2{
    margin: 0px 10px;
    font-style: normal;
    font-family: monospace;
    font-size: 50px;
    display: inline;
    text-align: center;
}

h2{
    color: #616161;
    display: inline;
}

h3{
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
    margin: 10px 0px;
}


p{
    font-size: 17px;
    margin-top: 1em;
    line-height: 150%;
}

.head{
    text-align: center;
    height: 100px;
}

.container{
    height: 650px;
    max-width: 960px;
    padding: 5em 6em;

}

.pokemon{
    margin-right: 2em;
    background-color: #F2F2F2;
}

.centro{
    border: double 10px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 2em;
}

.info{
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    border: double 5px;
}